extends layout

block content

    //- adds padding around body items
    .container
        .page-header
            h1 Bootstrap Sample
            
        .jumbotron(style="background-color:#2e2d88; color:white;")
            h1 This is the body of the jumbotron.
            p Here some more text inside of it.
            
            a.btn.btn-default.btn-sm(href='#' role="button") Default
            button.btn.btn-danger.btn-md(type='submit' role="button") Danger
            a.btn.btn-info.btn-lg(href='#' role="button") Info
            a.btn.btn-success(href='#' role="button") Success
            
            .btn-group.btn-group-lg(role="group")
                a.btn.btn-default(href='#' role="button") One
                a.btn.btn-info(href='#' role="button") Two
                a.btn.btn-success(href='#' role="button") Three
        
        .container
            .row
                .col-md-6
                    p stuff
                .col-md-6
                    p stuff
               //- show the rows and their dynamic sizing 
            .row
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                        p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl 
                .clearfix.visible-sm
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                        p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl                         
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                        p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl                      
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                       p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl 
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                        p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl                         
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    h4 Column 1
                        p akdjfas lo;dji fo;aisjdfo;iasjdfj asl;dfjk asdl;kjf a;sodljkfao;ij dfo ajsdkl;fj aso;djf io;asjdf io;jasdofi jasoi oasijdfoiaj sdl;kasdj as jfl kjasfkljasl kdja aklsdjf klasjd klasjdkl 
                    
                    
                    //- dynamic and collapsable
                   
            .row
                .col-lg-2.col-md-4.col-sm-6.col-xs-12
                    h4
                        a(href="#colContent" data-toggle="collapse") Column1
                        #colContent.collapse 
                            p adkj lkasj dlkjasklfj laskjdf lkasjflk jaslk jklsaj klsdjfl kjasdklfjlasdkj lkasj lksdl sdl jflj slkj flksdjfklj aslkfj k sdl kjsdl kjasdjkl klasjl jaskl flasjkf kljas d fjaslkfj lkas  fkljaslkfj klasj fklsdkl jasdkljdf lkasjfkl jasljkdf lks aslkjf lask ljf 
                .col-lg-10.col-md-8.col-sm-6.col-xs-12
                    h4
                        a(href="#colContent" data-toggle="collapse") Column1
                        #colContent.collapse.in 
                            p adkj lkasj dlkjasklfj laskjdf lkasjflk jaslk jklsaj klsdjfl kjasdklfjlasdkj lkasj lksdl sdl jflj slkj flksdjfklj aslkfj k sdl kjsdl kjasdjkl klasjl jaskl flasjkf kljas d fjaslkfj lkas  fkljaslkfj klasj fklsdkl jasdkljdf lkasjfkl jasljkdf lks aslkjf lask ljf 
            
                //- dynamically collapsable
            .row
                    //- a well is almost like a jumbotron in that it adds a bg and border
                .well.hidden-sm.hidden-md.hidden-xs
                    h1 Biggass content you don't want showing on a small screen 
                    
                .col-md-6.col-md-offset-3.col-sm-1.col-sm-offset-8.col-lg-1.col-lg-offset-10
                    p I just bounce everywhere
                    
            .container       
                table.table.table-bordered.table-striped.table-hover.bold-table-header
                    thead
                        tr
                            td.text-center(colspan="4") Your title here
                    tbody
                        tr
                            th.col-md-2 Lefted
                            th.col-md-3.text-center Centered
                            th.col-md-5.text-right Numbers
                        //- heres where you put your each
                        tr
                            td hey
                            td.text-center -kdkdk-
                            td.text-right 20.00
                            
                            
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
    //- will allow everything to touch still
    .container-fluid